<div class="container">
  <div class="left-side">
    <div class="login-form" action="#" method="post">
      <h2>Log in</h2>
      <label for="email">Email</label>
      <input type="email" class="input" [(ngModel)]="inputEmail">
      <label for="password">Password</label>
      <input type="password" class="input" [(ngModel)]="inputPassword">
      <button class="button" (click)="login()">Log in</button>
    </div>
  </div>
  <div class="right-side">
    <img src="assets/logo.png">
  </div>
</div>