<div class="header">
  <button class="back-button" [routerLink]="'/mesa/' + mesa.id">BACK</button>
  <div>MESA {{mesa.id}}</div>
</div>

<div *ngFor="let producto of mesa.Productos" class="products" [routerLink]="'/producto/' + producto.Producto.id">
  <p>{{ producto.Producto.Nombre }}</p>
  <p> {{ producto.Cantidad }}</p>
  <p>{{ (producto.Producto.Precio  * producto.Cantidad).toFixed(2)}} €</p>
</div>
<div class="total">
  <p>TOTAL : </p>
  <p>50 €</p>
</div>

<div class="botones">
  <button class="boton">MANDAR A COCINA</button>
  <button class="boton">PEDIR LA CUENTA</button>
</div>