.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 5px;
  height: 50px;
}

.products {
  font-size: .9em;
  border: 1px solid #70eb95;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.back-button {
  padding: 6px;
  cursor: pointer;
  border: none;
  background-color: #bb1e13;
  color: #f3faee;
  border-radius: 5px;
  font-family: 'Ginerin';
}

.total {
  font-size: .9em;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 10px;
  background-color: #70eb95;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botones {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton {
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #bb1e13;
  color: #bb1e13;
  font-family: 'Ginerin';
  margin-bottom: 10px;
}

.nombre {
  width: 52%;
}

.cantidad {
  width: 23%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.precio {
  text-align: center;
  width: 19%;
}

.modifier {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.boton:hover {
  background-color: #70eb95;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #bb1e13;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}