<div class="spinner-container" id="spinner" *ngIf="loading">
  <div class="spinner"></div>
</div>

<div class="header">
  <button class="back-button" [routerLink]="'/mesa/' + mesa.id">BACK</button>
  <div>MESA {{mesa.id}}</div>
</div>

<div *ngFor="let producto of mesa.Productos" class="products">
  <p [routerLink]="'/producto/' + producto.Producto.id" class="nombre">{{ producto.Producto.Nombre }}</p>
  <div class="cantidad">
    <img src="assets/menos.png" class="modifier" (click)="changeCantidad(-1, producto)">
    <div>{{producto.Cantidad}}</div>
    <img src="assets/mas.png" class="modifier" (click)="changeCantidad(+1, producto)">
  </div>
  <p class="precio">{{ (producto.Producto.Precio  * producto.Cantidad).toFixed(2)}} €</p>
</div>
<div class="total">
  <p>TOTAL : </p>
  <p>{{this.total.toFixed(2)}} €</p>
</div>

<div class="botones">
  <button class="boton" (click)="mandarCocina()">MANDAR A COCINA</button>
  <button class="boton" [routerLink]="'/comandas/' + this.id">VER COMANDAS</button>
</div> 