.products {
  border: 1px solid #70eb95;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.total {
  font-size: 1.4em;
  border-radius: 5px;
  margin: 40px 80px;
  background-color: #70eb95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombre {
  margin-left: 100px;
  width: 60%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  height: 50px;
}

.ver-cuenta-button {
  background-color: #910d0d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 80px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.ver-cuenta-button:hover {
  background-color: #f08e87;
}