@font-face {
  font-family: 'Ginerin';
  src: url('assets/fonts/Ginerin-Regular.otf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Ginerin';
  background-color: rgb(195, 241, 193);
}