.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}

.tab-container {
  white-space: nowrap;
  overflow-x: auto;
}

.tab-radio {
  display: none;
}

.tab {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #bb1e13;
  color: #f3faee;
  border-radius: 5px;
  margin-right: 5px;
}

.tab:last-child {
  margin-right: 0;
}

.tab:hover {
  background-color: #550606;
}

.logo {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 10vh;
}

.products {
  font-size: .9em;
  border: 1px solid #70eb95;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
  margin: 5px;
  background-color: #fff;
  margin: 5px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
}

.products:hover {
  background-color: #f8c4c4;
}

.tab-radio:checked+label {
  background-color: #360202;
}