<div class="header">
  <div>MESA {{id}}</div>
  <img src="assets/carrito.png" class="carritoimg" [routerLink]="'/carrito/1'">
</div>

<div class="tab-container">
  <ng-container *ngFor="let categoria of productosXCategoria">
    <input type="radio" name="categoria" id="{{ categoria.Categoria }}" (change)="mostrarProductos(categoria.Categoria)"
      class="tab-radio">
    <label for="{{ categoria.Categoria }}" class="tab">{{ categoria.Categoria }}</label>
  </ng-container>
</div>

<div class="logo" *ngIf="inicio">
  <img src="assets/logo.png">
</div>

<div *ngFor="let producto of productosMostrados" class="products" [routerLink]="'/producto/' + producto.id">
  <p>{{ producto.Nombre }}</p>
  <p>{{ producto.Precio }} €</p>
</div>