.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.carritoimg {
  width: 18%;
  cursor: pointer;
}

.carritoimg:hover {
  filter: saturate(3);
}

.dropdown {
  position: relative;
}

.btn-secondary {
  padding: 10px;
  border-radius: 5px;
  font-family: 'Ginerin';
  background-color: #70eb95;
  border-color: #70eb95;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #34c961;
  border-color: #34c961;
}

.dropdown-menu {
  position: absolute;
  display: none;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.tab-container {
  white-space: nowrap;
  overflow-x: auto;
}

.tab-radio {
  display: none;
}

.tab {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #bb1e13;
  color: #f3faee;
  border-radius: 5px;
  margin-right: 5px;
}

.tab:last-child {
  margin-right: 0;
}

.tab:hover {
  background-color: #550606;
}

.logo {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 10vh;
}

.logo img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.products {
  font-size: .9em;
  border: 1px solid #70eb95;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
  margin: 5px;
  background-color: #fff;
  margin: 5px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
}

.products:hover {
  background-color: #f8c4c4;
}

.tab-radio:checked+label {
  background-color: #360202;
}